src/flows/Create_Job_Scheudle-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_non_scheduled_job_to_joblist</name>
        <label>add non scheduled job to joblist</label>
        <locationX>438</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>varJobRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtoJobRecordList</name>
        <label>add to JobRecordList</label>
        <locationX>755</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>varJobRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_Delete_Record_for_Schedule</name>
        <label>Create a Delete Record for Schedule</label>
        <locationX>733</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>varDelOpportunityLineItemScheduleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOddEvenCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeleteFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_a_non_schedule_job_record</name>
        <label>create a non schedule job record</label>
        <locationX>667</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>varJobRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyRec.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineRec.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineRec.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineRec.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_non_scheduled_job_to_joblist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createJobRecord</name>
        <label>create Job Record</label>
        <locationX>455</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varJobRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyRec.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec.ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOddEvenCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineRec.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtoJobRecordList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Revenue_rec</name>
        <label>Delete Revenue_rec</label>
        <locationX>248</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>varDelOpportunityLineItemScheduleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpptyScheduleRevenueItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Delete Revenue Rec</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOddEvenCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOddEvenCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeleteFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_every_revenue_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_revenue_record_counter</name>
        <label>increment revenue record counter</label>
        <locationX>4</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>varRevenueCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOddEvenCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_every_revenue_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter</name>
        <label>reset counter</label>
        <locationX>447</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOddEvenCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter_again</name>
        <label>reset counter again</label>
        <locationX>248</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>varRevenueCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOddEvenCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_every_revenue_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_text</name>
        <label>update text</label>
        <locationX>450</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Var Count:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>and Odd Even is</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Odd_Even</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>and Loop Count is</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOddEvenCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_ProductFamily_is_BiWeekly</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkifScheduleType</name>
        <label>checkifScheduleType</label>
        <locationX>443</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>create_a_non_schedule_job_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Schedule based</defaultConnectorLabel>
        <rules>
            <name>Create_Schedule_Based_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpptyLineRec.HasSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpportunityLineItemSchedule</targetReference>
            </connector>
            <label>Create Schedule Based Jobs</label>
        </rules>
    </decisions>
    <decisions>
        <name>debugmode_text</name>
        <label>if debugmode show text</label>
        <locationX>72</locationX>
        <locationY>703</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>show_text_on_debug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Debug_Mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankYouScreen</targetReference>
            </connector>
            <label>show text on debug</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeleteJob</name>
        <label>Do we need DeleteJob</label>
        <locationX>86</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>debugmode_text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Delete_Flag_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeleteFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Schedule_Lines</targetReference>
            </connector>
            <label>Is Delete Flag Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_out_biWeekly_Even_Schedule_Records</name>
        <label>Filter out biWeekly Even Schedule Records</label>
        <locationX>126</locationX>
        <locationY>1171</locationY>
        <defaultConnector>
            <targetReference>increment_revenue_record_counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>even_biweekly_or_above_visitcount</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Odd_Even</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpptyLineRec.Product_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BiWeekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRevenueCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varOpptyLineRec.occurrence_count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Revenue_rec</targetReference>
            </connector>
            <label>even biweekly or above visitcount</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_below_the_occurance_count</name>
        <label>If below then occurance count</label>
        <locationX>445</locationX>
        <locationY>752</locationY>
        <defaultConnector>
            <targetReference>Create_a_Delete_Record_for_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>within_visit_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varOpptyLineRec.occurrence_count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_text</targetReference>
            </connector>
            <label>within Visit Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_ProductFamily_is_BiWeekly</name>
        <label>Verify ProductFamily is BiWeekly</label>
        <locationX>449</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>createJobRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_it_Biweekly_Odd_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpptyLineRec.Product_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BiWeekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Odd_Even</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Delete_Record_for_Schedule</targetReference>
            </connector>
            <label>Is it Biweekly Odd Record</label>
        </rules>
    </decisions>
    <formulas>
        <description>Is it in Debug_Mode</description>
        <name>Debug_Mode</name>
        <dataType>Boolean</dataType>
        <expression>({!$Label.debug_mode}=&quot;True&quot;)</expression>
    </formulas>
    <formulas>
        <description>Check if Even Record</description>
        <name>Odd_Even</name>
        <dataType>Number</dataType>
        <expression>MOD({!varOddEvenCounter},2)</expression>
        <scale>0</scale>
    </formulas>
    <label>Create Job Scheudle</label>
    <loops>
        <name>for_every_revenue_Schedule</name>
        <label>for_every_revenue_Schedule</label>
        <locationX>128</locationX>
        <locationY>936</locationY>
        <assignNextValueToReference>varOpptyScheduleRevenueItem</assignNextValueToReference>
        <collectionReference>varOpptyScheduleRevenueList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_out_biWeekly_Even_Schedule_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>foreverylineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>foreverylineItems</name>
        <label>for every lineItems</label>
        <locationX>184</locationX>
        <locationY>271</locationY>
        <assignNextValueToReference>varOpptyLineRec</assignNextValueToReference>
        <collectionReference>varOpptyLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkifScheduleType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>foreveryschedule</name>
        <label>for every schedule</label>
        <locationX>449</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>varOpptyLineScheduleItemRec</assignNextValueToReference>
        <collectionReference>varOpptyLineItemScheduleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_below_the_occurance_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>reset_counter_again</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Jobs</name>
        <label>Insert Jobs</label>
        <locationX>78</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>DeleteJob</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>varJobRecList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Schedule_Lines</name>
        <label>Delete Schedule Lines</label>
        <locationX>0</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>debugmode_text</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>varDelOpportunityLineItemScheduleList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>186</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varOpptyLineItemList</outputReference>
        <queriedFields>HasQuantitySchedule</queriedFields>
        <queriedFields>HasRevenueSchedule</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HasSchedule</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>occurrence_count__c</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItemSchedule</name>
        <label>Get OpportunityLineItemSchedule</label>
        <locationX>448</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpptyLineScheduleRevenue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpptyLineRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Both</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>varOpptyLineItemScheduleList</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>ScheduleDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_OpptunityInformation</name>
        <label>Get Opportunity Information</label>
        <locationX>184</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpptyRec</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Credit_Card_Authorization__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OpptyLineScheduleRevenue</name>
        <label>Get OpptyLineScheduleRevenue</label>
        <locationX>448</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>reset_counter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpptyLineRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>varOpptyScheduleRevenueList</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>ScheduleDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>3</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>Thank You Screen</label>
        <locationX>64</locationX>
        <locationY>811</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>{!txtThankYouTemplate} 
{!DebugText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_OpptunityInformation</startElementReference>
    <textTemplates>
        <description>Thank you message to show status</description>
        <name>txtThankYouTemplate</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;In the Opportunity {!OpptyID} &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <variables>
        <name>DebugText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Debug:</stringValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity ID passed</description>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDeleteFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>List for the opportunity line item to delete</description>
        <name>varDelOpportunityLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>varJobRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <description>Loop Counter to find odd and even records</description>
        <name>varOddEvenCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>opportunity line Items</description>
        <name>varOpptyLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOpptyLineRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineScheduleItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <description>Opportunity Record</description>
        <name>varOpptyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpptyScheduleRevenueItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOpptyScheduleRevenueList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varRevenueCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
