src/flows/Create_Job_Records-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Job</name>
        <label>Add Job Record</label>
        <locationX>490</locationX>
        <locationY>389</locationY>
        <actionName>NewJob</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Account__c</name>
            <value>
                <elementReference>varOpportunityRec.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Job_Date__c</name>
            <value>
                <elementReference>varOpptyLine.ServiceDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Quantity__c</name>
            <value>
                <elementReference>varOpptyLine.Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Total_Price__c</name>
            <value>
                <elementReference>varOpptyLine.TotalPrice</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>errorjob</name>
        <label>errorjob</label>
        <locationX>201</locationX>
        <locationY>861</locationY>
        <actionName>NewJob</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>testRecordCount</targetReference>
        </connector>
        <inputParameters>
            <name>Account__c</name>
            <value>
                <elementReference>varOpportunityRec.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Job_Date__c</name>
            <value>
                <elementReference>Job_record.Job_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Quantity__c</name>
            <value>
                <elementReference>Job_record.Quantity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Total_Price__c</name>
            <value>
                <elementReference>varOpptyLine.TotalPrice</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>addtoJobRecordList</name>
        <label>add to JobRecordList</label>
        <locationX>559</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Job_recordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Job_record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>createJobRecord</name>
        <label>create Job Record</label>
        <locationX>404</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>Job_record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityRec.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItem.ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItem.Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtoJobRecordList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkifScheduleType</name>
        <label>checkifScheduleType</label>
        <locationX>194</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Add_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Schedule based</defaultConnectorLabel>
        <rules>
            <name>Create_Schedule_Based_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpptyLine.HasSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpportunityLineItemSchedule</targetReference>
            </connector>
            <label>Create Schedule Based Jobs</label>
        </rules>
    </decisions>
    <decisions>
        <name>testRecordCount</name>
        <label>testRecordCount</label>
        <locationX>636</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>gothere</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>gosave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insert_Jobs</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showstatus</targetReference>
            </connector>
            <label>gosave</label>
        </rules>
    </decisions>
    <label>Create Job Records</label>
    <loops>
        <name>foreverylineItems</name>
        <label>foreverylineItems</label>
        <locationX>191</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>varOpptyLine</assignNextValueToReference>
        <collectionReference>varOpptyLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkifScheduleType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>showstatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>go_through_each_schedule</name>
        <label>go through each schedule</label>
        <locationX>190</locationX>
        <locationY>629</locationY>
        <assignNextValueToReference>varOpptyLineScheduleItem</assignNextValueToReference>
        <collectionReference>varOpptyLineItemScheduleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createJobRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Jobs</name>
        <label>Insert Jobs</label>
        <locationX>189</locationX>
        <locationY>766</locationY>
        <connector>
            <targetReference>errorjob</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Job_recordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FetchOpportunityInformation</name>
        <label>FetchOpportunityInformation</label>
        <locationX>184</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunityRec</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Credit_Card_Authorization__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>186</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varOpptyLineItemList</outputReference>
        <queriedFields>HasQuantitySchedule</queriedFields>
        <queriedFields>HasRevenueSchedule</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HasSchedule</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItemSchedule</name>
        <label>Get OpportunityLineItemSchedule</label>
        <locationX>192</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>go_through_each_schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpptyLine.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>varOpptyLineItemScheduleList</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>517</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>gothere</name>
        <label>gothere</label>
        <locationX>511</locationX>
        <locationY>840</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>gotheretext</name>
            <fieldText>this is a debug - got here</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>showstatus</name>
        <label>showstatus</label>
        <locationX>838</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>resultshow</name>
            <fieldText>OK Inserted  Records = {!varCount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>FetchOpportunityInformation</startElementReference>
    <variables>
        <name>Job_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>Job_recordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <description>Opportunity ID passed</description>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>putrevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity Record</description>
        <name>varOpportunityRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpptyLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>opportunity line Items</description>
        <name>varOpptyLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOpptyLineScheduleItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
</Flow>
