src/flows/Create_Job_Records_from_Order-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_non_scheduled_job_to_joblist</name>
        <label>add non scheduled job to joblist</label>
        <locationX>552</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>Job_recordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Job_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryOrderlineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_a_non_schedule_job_record</name>
        <label>create a non schedule job record</label>
        <locationX>571</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>Job_record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRecord.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderItem.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRecord.Dhruvsoft__OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_non_scheduled_job_to_joblist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkifScheduleType</name>
        <label>checkifScheduleType</label>
        <locationX>345</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>create_a_non_schedule_job_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Schedule_Based_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderItem.scheduled_product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create Schedule Based Jobs</label>
        </rules>
    </decisions>
    <label>Create Job Records from Order</label>
    <loops>
        <name>foreveryOrderlineItems</name>
        <label>for every Order lineItems</label>
        <locationX>191</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>varOrderItem</assignNextValueToReference>
        <collectionReference>varOrderItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkifScheduleType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Jobs</name>
        <label>Insert Jobs</label>
        <locationX>53</locationX>
        <locationY>586</locationY>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Job_recordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FetchOrder</name>
        <label>Fetch Order</label>
        <locationX>184</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderItems</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>OrderRecord</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Dhruvsoft__convert_from_opportunity__c</queriedFields>
        <queriedFields>Dhruvsoft__OpportunityId__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItems</name>
        <label>Get OrderItems</label>
        <locationX>186</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreveryOrderlineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderID</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>varOrderItemList</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Dhruvsoft__converted_form_opportunity__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>Dhruvsoft__opportunity_line_item_Id__c</queriedFields>
        <queriedFields>scheduled_product__c</queriedFields>
        <sortField>ServiceDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>404</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>FetchOrder</startElementReference>
    <variables>
        <name>Job_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>Job_recordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <description>Opportunity ID passed</description>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity Record</description>
        <name>varOpportunityRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpptyLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>opportunity line Items</description>
        <name>varOpptyLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOpptyLineScheduleItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
