src/flows/Create_Job_Records-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Job</name>
        <label>Add Job Record</label>
        <locationX>714</locationX>
        <locationY>372</locationY>
        <actionName>NewJob</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Account__c</name>
            <value>
                <elementReference>varOpportunityRec.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Job_Date__c</name>
            <value>
                <elementReference>varOpptyLine.ServiceDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Quantity__c</name>
            <value>
                <elementReference>varOpptyLine.Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Total_Price__c</name>
            <value>
                <elementReference>varOpptyLine.TotalPrice</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Scheduled_Job</name>
        <label>Add Scheduled Job</label>
        <locationX>497</locationX>
        <locationY>525</locationY>
        <actionName>NewJob</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>go_through_each_schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Account__c</name>
            <value>
                <elementReference>varOpportunityRec.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Job_Date__c</name>
            <value>
                <elementReference>varOpptyLineScheduleItem.ScheduleDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Quantity__c</name>
            <value>
                <elementReference>varOpptyLineScheduleItem.Quantity</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>resolvedollarissue</name>
        <label>resolvedollarissue</label>
        <locationX>244</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>putrevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItem.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Scheduled_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkifScheduleType</name>
        <label>checkifScheduleType</label>
        <locationX>390</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>Add_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Schedule based</defaultConnectorLabel>
        <rules>
            <name>Create_Schedule_Based_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpptyLine.HasSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpportunityLineItemSchedule</targetReference>
            </connector>
            <label>Create Schedule Based Jobs</label>
        </rules>
    </decisions>
    <label>Create Job Records</label>
    <loops>
        <name>foreverylineItems</name>
        <label>foreverylineItems</label>
        <locationX>182</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>varOpptyLine</assignNextValueToReference>
        <collectionReference>varOpptyLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkifScheduleType</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>go_through_each_schedule</name>
        <label>go through each schedule</label>
        <locationX>179</locationX>
        <locationY>413</locationY>
        <assignNextValueToReference>varOpptyLineScheduleItem</assignNextValueToReference>
        <collectionReference>varOpptyLineSchedule</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>resolvedollarissue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>foreverylineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>FetchOpportunityInformation</name>
        <label>FetchOpportunityInformation</label>
        <locationX>184</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunityRec</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Credit_Card_Authorization__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>186</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varOpptyLineItem</outputReference>
        <queriedFields>HasQuantitySchedule</queriedFields>
        <queriedFields>HasRevenueSchedule</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HasSchedule</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItemSchedule</name>
        <label>Get OpportunityLineItemSchedule</label>
        <locationX>387</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>go_through_each_schedule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpptyLine.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>varOpptyLineSchedule</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>517</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>FetchOpportunityInformation</startElementReference>
    <variables>
        <description>Opportunity ID passed</description>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>putrevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity Record</description>
        <name>varOpportunityRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpptyLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>opportunity line Items</description>
        <name>varOpptyLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOpptyLineScheduleItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
</Flow>
