src/flows/Match_Schedule_to_Occurance_Count-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_non_scheduled_job_to_joblist</name>
        <label>add non scheduled job to joblist</label>
        <locationX>668</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varJobRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtoJobRecordList</name>
        <label>add to JobRecordList</label>
        <locationX>236</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>varJobRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varJobRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_Delete_Record_for_Schedule</name>
        <label>Create a Delete Record for Schedule</label>
        <locationX>629</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>varDelOpportunityLineItemScheduleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryschedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_a_non_schedule_job_record</name>
        <label>create a non schedule job record</label>
        <locationX>669</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varJobRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyRec.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineRec.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varJobRec.Job_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineRec.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_non_scheduled_job_to_joblist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createJobRecord</name>
        <label>create Job Record</label>
        <locationX>438</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>varJobRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyRec.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec.ScheduleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobRec.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpptyLineScheduleItemRec.Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addtoJobRecordList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter</name>
        <label>reset counter</label>
        <locationX>319</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreveryschedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkifScheduleType</name>
        <label>checkifScheduleType</label>
        <locationX>458</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>create_a_non_schedule_job_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Schedule based</defaultConnectorLabel>
        <rules>
            <name>Create_Schedule_Based_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpptyLineRec.HasSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpportunityLineItemSchedule</targetReference>
            </connector>
            <label>Create Schedule Based Jobs</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_below_the_occurance_count</name>
        <label>If below then occurance count</label>
        <locationX>448</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Create_a_Delete_Record_for_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>within_occurance_schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varOpptyLineRec.occurrence_count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createJobRecord</targetReference>
            </connector>
            <label>within occurance schedule</label>
        </rules>
    </decisions>
    <description>Match the number of Opportunity Line Items Schedules to the Occurance Count</description>
    <label>Match Schedule to Occurance Count</label>
    <loops>
        <name>foreverylineItems</name>
        <label>for every lineItems</label>
        <locationX>183</locationX>
        <locationY>286</locationY>
        <assignNextValueToReference>varOpptyLineRec</assignNextValueToReference>
        <collectionReference>varOpptyLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkifScheduleType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>foreveryschedule</name>
        <label>for every schedule</label>
        <locationX>229</locationX>
        <locationY>685</locationY>
        <assignNextValueToReference>varOpptyLineScheduleItemRec</assignNextValueToReference>
        <collectionReference>varOpptyLineItemScheduleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_below_the_occurance_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>foreverylineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Jobs</name>
        <label>Insert Jobs</label>
        <locationX>53</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Delete_Schedule_Lines</targetReference>
        </connector>
        <inputReference>varJobRecList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Schedule_Lines</name>
        <label>Delete Schedule Lines</label>
        <locationX>52</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>ThankYouScreen</targetReference>
        </connector>
        <inputReference>varDelOpportunityLineItemScheduleList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FetchOpportunityInformation</name>
        <label>FetchOpportunityInformation</label>
        <locationX>184</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpptyRec</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Credit_Card_Authorization__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>186</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreverylineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varOpptyLineItemList</outputReference>
        <queriedFields>HasQuantitySchedule</queriedFields>
        <queriedFields>HasRevenueSchedule</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HasSchedule</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>occurrence_count__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItemSchedule</name>
        <label>Get OpportunityLineItemSchedule</label>
        <locationX>323</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>reset_counter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpptyLineRec.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>varOpptyLineItemScheduleList</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>ScheduleDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>404</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Something went wrong with this flow.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your admin has received an email about this error.&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>Thank You Screen</label>
        <locationX>53</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>{!txtThankYouTemplate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>FetchOpportunityInformation</startElementReference>
    <textTemplates>
        <description>Thank you message to show status</description>
        <name>txtThankYouTemplate</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;In the Opportunity {!OpptyID} &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <variables>
        <description>Opportunity ID passed</description>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>List for the opportunity line item to delete</description>
        <name>varDelOpportunityLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>varJobRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <description>opportunity line Items</description>
        <name>varOpptyLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>varOpptyLineRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpptyLineScheduleItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <description>Opportunity Record</description>
        <name>varOpptyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
