src/flows/Payment_Process-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Flag_as_Paid</name>
        <label>Set Flag as Paid</label>
        <locationX>14</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>JobRecord.Commission_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Commission Paid for:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobRecord.Job_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_update_job_record_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_update_job_record_list</name>
        <label>set update job record list</label>
        <locationX>172</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>varJobUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_all_Job_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDebugText</name>
        <label>setDebugText</label>
        <locationX>262</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;b&gt;Payment Process&lt;/b&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cleaners are paid every 1st and 15th of each month.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Enter the Month and Check the Radio button if you are making Pay Period 1.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The system will mark payment as done for all jobs executed by each cleaner.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inputs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>titleText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Processing &lt;br/&gt;Cleaners are paid every 1st and 15th of each month. Enter the Month and Check the Radio button if you are making Pay Period 1. The system will mark the payment for all jobs executed by each cleaner.</stringValue>
        </value>
    </constants>
    <formulas>
        <name>FirstDayofMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(
     YEAR({!Payment_Month}),
     MONTH({!Payment_Month}),
     1
)</expression>
    </formulas>
    <formulas>
        <name>LastDayofMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(
     CASE(MONTH({!Payment_Month}), 12, YEAR({!Payment_Month}) + 1, YEAR({!Payment_Month})),
     CASE(MONTH({!Payment_Month}), 12, 1, MONTH({!Payment_Month}) +1),
     1
) - 1</expression>
    </formulas>
    <label>Payment_Process</label>
    <loops>
        <name>Go_Through_all_Job_Records</name>
        <label>Go Through all Job Records</label>
        <locationX>106</locationX>
        <locationY>256</locationY>
        <assignNextValueToReference>JobRecord</assignNextValueToReference>
        <collectionReference>JobRecordsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Flag_as_Paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job_Records</name>
        <label>Get Job Records</label>
        <locationX>109</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Through_all_Job_Records</targetReference>
        </connector>
        <filters>
            <field>Commission_Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Job_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Job_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FirstDayofMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDayofMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Is_Pay_Period_1</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>JobRecordsList</outputReference>
        <queriedFields>Job_Assigned__c</queriedFields>
        <queriedFields>Job_Completed__c</queriedFields>
        <queriedFields>Job_Date__c</queriedFields>
        <queriedFields>Pay_Period__c</queriedFields>
        <queriedFields>Commission_Paid__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>Job_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Jobs</name>
        <label>Update Jobs</label>
        <locationX>290</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Display_Status</targetReference>
        </connector>
        <inputReference>varJobUpdateList</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Status</name>
        <label>Display Status</label>
        <locationX>447</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>DisplayDebugText</name>
            <fieldText>{!DebugText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Inputs</name>
        <label>Get Inputs</label>
        <locationX>107</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Get_Job_Records</targetReference>
        </connector>
        <fields>
            <name>displaytext</name>
            <fieldText>{!DebugText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Month</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Payment Month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Pay_Period_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is it for Pay Period 1?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>setDebugText</startElementReference>
    <variables>
        <name>DebugText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;b&gt; Ran the Process to Update Payments to Workers &lt;b&gt; &lt;br/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>JobRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>JobRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>varJobUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
</Flow>
